@import './scss/variables';
@import './scss/mixins';

* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: $fontText;
  background-color: $whiteColor;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  padding: 0.2rem;
}

footer {
  background-color: #313F3C;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.offer {
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  padding: 0.25rem;
  top: 0;
  left: 0;
  font-style: italic;
  color: #cc0000;
}

.was {
  text-decoration: line-through;
  font-size: 0.8rem;
}

//  *** Utility classes *** //
.ul-row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  li {
    margin: 0 0.5rem;
  }
}

.align-right {
  text-align: right;
}

.btn {
  background-color: $blackColor;
  padding: 0.7rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.svg-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.logo {
  width: 4rem;
}

.logotype {
  width: 10rem;
  height: 4rem;
}

// *** Navbar *** //
.navbar{
  background: $whiteColor;
}

.navbar-container {
  @include container-setup;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar-logo {
  .logo {
    width: 100px;
  }
}

.menu-toggle {
  display: none;
  border: none;
  background: none;

  img {
    width: 30px;
  }
}

.navbar-links,
.navbar-profile {
  @include underline-a;
  display: flex;
  align-items: center;
  gap: 1rem;

  a {
    text-decoration: none;
    color: $blackColor;
  }
}

.topCTA {
  height: 3rem;
  background: #313F3C;
  color: $whiteColor;
  
  ul {
    margin: 0 1rem;
    color: $whiteColor;
  }
  
  a,
  li {
    color: $whiteColor;
    font-size: 0.85rem;
    margin: 0 0.25rem;
    line-height: 02rem;
  }

  .svg-icon {
    fill: $whiteColor;
  }
}

// *** Map Container *** //
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

// *** Footer *** //
.footer {
  @include container-setup;
  background: #313F3C;
  color: $whiteColor;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: stretch;
  font-size: 0.85rem;
  line-height: 1.6;

  h2 {
    grid-column: 1 / -1;
  }

  a {
    color: $whiteColor;
    text-align: left;
  }

  h3 {
    font-family: $fontTitle;
    margin: 0;
  }

  h4 {
    margin: 0;
  }

  .svg-icon {
    fill: $whiteColor;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-policies {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .news-letter {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input {
      padding: 0.8rem;
      border: 1px solid #ccc;
      font-size: 0.9rem;

      &:focus {
        border-color: #a2a2a2;
        outline: none;
      }
    }

    .btn {
      width: 7rem;
      align-self: flex-end;
      color: $whiteColor;
      border: 1px solid $whiteColor;
    }
  }
}

.copyrights {
  text-align: center;
  background: $blackColor;
  padding: 0.5rem;
  color: $whiteColor;

  a {
    color: $whiteColor;
  }
}

// *** Collections *** //

.collections {
  @include container-setup;
  margin-bottom: 1rem;

  h2 {
    font-family: $fontTitle;
    text-align: center;
    color: $blackColor;
    margin: 1rem;
    font-family: $fontTitle;
    font-weight: 300;
    font-size: 3rem;
  }

  .collections-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: start;

    .collections-card {
      padding: 2rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: $whiteColor;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
      align-self: stretch;
      min-height: 400px;
      max-width: 1200px;
      margin: 0 auto;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.02);
      }
    }
  }

  .collections-container {
    grid-template-columns: 1fr;

    .collections-card {
      .collections-text {
        width: 20rem;
        padding: 1rem;
        background: rgba($color: #fff, $alpha: 0.6);

        h3,
        p {
          color: $blackColor;
        }
      }
    }
  }
}

.policy-page {
  @include container-setup;
  margin: 0 auto;

  .policy-container {
    margin: auto;
    width: 75%;
    padding: 2rem;
    background: $accentColor;

    h2 {
      text-align: center;
      font-weight: 300;
      font-size: 2rem;
      margin: 0;
    }
  }
}

@import './scss/responsive';
